.App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 40px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
        left: 0px;
    }
    to {
        transform: rotate(360deg);
        left: 125px;
    }
}